/* Pretty printing styles. Used with prettify.js.
 *
 * Name:	Stanley Ng
 * Email: 	stanleyhlng@googlegroups.com
 * 
 */

@mixin comment {
	.com { 
		color: #555555; 
		font-style: italic; 
	}
}

@mixin close-bracket {
	.clo { 
		color: #F1F2F3; 
	}	
}

@mixin declaration {
	.dec { 
		color: purple; 
	}
}

@mixin function-name {
	.fun { 
		color: #bbdaff; 
	}
}

@mixin keyword {
	.kwd { 
		color: #93C763; 
		//font-weight: bold;
	}
}

@mixin literal-value {
	.lit { 
		color: #FACD22; 
	}
}

@mixin markup-attribute-name {
	.atn { 
		color: #E0E2E4; 
	}
}

@mixin markup-attribute-value {
	.atv { 
		color: #EC7600; 
	}
}

@mixin markup-tag-name {
	.tag { 
		color: #8AC763; 
		//font-weight: bold; 
	}
}

@mixin open-bracket {
	.opn { 
		color: #F1F2F3; 
	}	
}

@mixin plain-text {
	.pln { 
		color: #F1F2F3; 
	}
}

@mixin punctuation {
	.pun { 
		color: #F1F2F3; 
	}	
}

@mixin string-content {
	.str {
		color: #EC7600;
	}
}

@mixin type-name {
	.typ { 
		color: #678CB1; 
		//font-weight: bold; 
	}
}

@mixin variable-name {
	.var { 
		color: #ff9da4; 
	}
}

@include plain-text;
@include string-content;
@include keyword;
@include comment;
@include type-name;
@include literal-value;
@include punctuation;
@include open-bracket;
@include close-bracket;
@include markup-tag-name;
@include markup-attribute-name;
@include markup-attribute-value;
@include declaration;
@include variable-name;
@include function-name;


@mixin container {

	/* Put a border around prettyprinted code snippets. */
	pre.prettyprint { 
        background-color: #111111;
		padding: 10px; 
		border: 1px solid #E1E1E8;
	}

    pre.prettyprint.linenums {
        //box-shadow: 40px 0 0 #FBFBFC inset, 41px 0 0 #ECECF0 inset;
    }

}
@include container;


@mixin line-numbers {

	/* Specify class=linenums on a pre to get line numbering */
	ol.linenums {
        color: #7285b7;
        margin: 0 0 0 40px;
	}
	
	ol.linenums li { 
        line-height: 18px;
        padding-left: 12px;        
	}

	ol.linenums li.L0, 
	ol.linenums li.L1, 
	ol.linenums li.L2, 
	ol.linenums li.L3, 
	ol.linenums li.L4, 
	ol.linenums li.L5, 
	ol.linenums li.L6, 
	ol.linenums li.L7, 
	ol.linenums li.L8, 
	ol.linenums li.L9 {
    	color: #555555;
	}
	
	ol.linenums li.L1, 
	ol.linenums li.L3, 
	ol.linenums li.L5, 
	ol.linenums li.L7, 
	ol.linenums li.L9 {
	    background: #111111;
	}
}
@include line-numbers;
