/* Pretty printing styles. Used with prettify.js.
 *
 * Name:	Stanley Ng
 * Email: 	stanleyhlng@googlegroups.com
 * 
 * Credits:
 * https://github.com/chriskempson/tomorrow-theme
 */

@mixin comment {
	.com { 
		color: #8e908c; 
		font-style: italic; 
	}
}

@mixin close-bracket {
	.clo { 
		color: #4d4d4c; 
	}	
}

@mixin declaration {
	.dec { 
		color: #f5871f; 
	}
}

@mixin function-name {
	.fun { 
		color: #c82829; 
	}
}

@mixin keyword {
	.kwd { 
		color: #8959a8; 
		//font-weight: bold;
	}
}

@mixin literal-value {
	.lit { 
		color: #eab700; 
	}
}

@mixin markup-attribute-name {
	.atn { 
		color: #eab700; 
	}
}

@mixin markup-attribute-value {
	.atv { 
		color: #3e999f; 
	}
}

@mixin markup-tag-name {
	.tag { 
		color: #c82829; 
		//font-weight: bold; 
	}
}

@mixin open-bracket {
	.opn { 
		color: #4d4d4c; 
	}	
}

@mixin plain-text {
	.pln { 
		color: #4d4d4c; 
	}
}

@mixin punctuation {
	.pun { 
		color: #4d4d4c; 
	}	
}

@mixin string-content {
	.str {
		color: #718c00;
	}
}

@mixin type-name {
	.typ { 
		color: #f5871f; 
		//font-weight: bold; 
	}
}

@mixin variable-name {
	.var { 
		color: #c82829; 
	}
}

@include plain-text;
@include string-content;
@include keyword;
@include comment;
@include type-name;
@include literal-value;
@include punctuation;
@include open-bracket;
@include close-bracket;
@include markup-tag-name;
@include markup-attribute-name;
@include markup-attribute-value;
@include declaration;
@include variable-name;
@include function-name;


@mixin container {

	/* Put a border around prettyprinted code snippets. */
	pre.prettyprint { 
        background-color: #ffffff;
		padding: 10px; 
		border: 1px solid #E1E1E8;
	}

    pre.prettyprint.linenums {
        //box-shadow: 40px 0 0 #FBFBFC inset, 41px 0 0 #ECECF0 inset;
    }

}
@include container;


@mixin line-numbers {

	/* Specify class=linenums on a pre to get line numbering */
	ol.linenums {
        color: #8e908c;
        margin: 0 0 0 40px;
	}
	
	ol.linenums li { 
        line-height: 18px;
        padding-left: 12px;        
	}	
}
@include line-numbers;
